<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FOR LIST VIEW</title>
</head>
<style>
    table,th,td{
    border:1px solid black;
    border-radius:10px;
}
</style>
<body>
<div class="jumbotron"></div>
<hr>
<table class="table" style="width:100%">
       <tr>
           <th>title</th>
           <th>description</th>
       </tr>
    {% for i in data %}
    <tr>
        <td>{{ i.title}}</td>
        <td>{{ i.description}}</td>
    </tr>
    {% endfor %}
</table>


</body>
</html>